
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Animated Gradient Background */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, rgb(201, 1, 1), #ed8f03, #ff6600);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    color:black;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* Navigation Styles */
nav {
    background-color: #131212;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6600;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

header img {
    border-radius: 50%;
    border: 5px solid #050101;
    max-width: 400px;
    height: auto;
}


/* About Section */
#about {
    padding: 40px;
}

#about h2 {
    text-align: center;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    padding: 20px;
    background-color: #fff;
}
  
  .about-text {
    max-width: 1000px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
  }

  .about-container .row.justify-center {
    background: none;
}


/* Section Styles */
section {
    padding: 20px;
}

section h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

section p {
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.work-item {
    margin-bottom: 40px;
}

.work-item img {
    max-width: 100px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#contact {
    background-color: #7c0404;
    border: 6px solid #050101;
    padding: 50px;
    color: #ddd;
    text-align: center;
    font-size: small;
}
footer {
    text-align: center;
    font-size: 20px;
    padding: 50px 0;
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }
    
    header img {
        max-width: 150px;
    }
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px;
    margin: 10px;
    border: 10px solid #ddd;
    border-radius: 30px;
    background-color: #ffa454;
}

.project-item img {
    max-width: 100%;
    height: auto;
}

.project-item a {
    text-decoration: none;
    color: #333;
}

.project-item a:hover {
    color: #ff6600;
    text-shadow: 0 0 10px rgba(255, 102, 0, 0.8);
    transition: color 0.3s, text-shadow 0.3s;
}

